@import "../style/variable.scss";

.add-product-button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  position: fixed;
  right: $content-vertical-padding;
  bottom: 12vh;
}

.larder-collapse {
  &__button {
    height: 1.8rem;
    margin: 0 0.1rem;
  }
}
