.metadata-container {
  background-color: rgb(250, 250, 250);
  border: 1px solid lightgray;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  margin-bottom: 16px;
}

.metadata-item {
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.metadata-form {
  &__input {
    margin: 0;
  }
}
