@import "../style/variable.scss";

.layout {
  min-height: 100vh;

  .main-menu {
    padding: 0 $content-vertical-padding;
    display: flex;
    align-content: space-between;

    &__item {
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      width: 50%;
      text-align: center;

      &__nav-icon {
        font-size: 1.5rem;
      }

      &__header {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        flex-grow: 1;
        margin: 0;
      }
    }

    &__logout {
      font-size: 1.5rem;
      width: 65px;
    }
  }

  .content {
    padding: 0 $content-vertical-padding;
  }

  .footer {
    text-align: center;
    height: 10vh;
    background-color: $app-theme-dark;
    color: white;
    font-size: 1.2rem;
  }
}

@media (max-width: $screen-sm) {
  .hidden-mobile {
    display: none;
  }
}
