@import "../style/variable.scss";

.layout {
  min-height: 100vh;

  .main-menu {
    padding: $content-padding;
    display: flex;
    align-content: space-between;

    &__item {
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      width: 50%;
      text-align: center;
    }
  }

  .content {
    padding: $content-padding;
  }
}
